/* RESET CODE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  font-size: 62.5%;
}

/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/work-sans-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/work-sans-v19-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/work-sans-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GENERAL CODE */
body {
  min-height: 100vh;
  background: url(assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
}
.card {
  width: min(calc(100% - 24px), 600px);
  background-color: hsl(0, 0%, 100%);
  margin-inline: auto;
  padding: 2.4rem;
}
@media screen and (min-width: 375px) {
  .card {
    width: min(calc(100% - 48px), 600px);
  }
}

/* UTILITY CLASSES CODE */
.active {
  display: none;
}

/* FAQs HEADER CODE */
.faqs-header {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.faqs-heading {
  font-size: 5.6rem;
  font-weight: 700;
}
