/* RESET CODE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  font-size: 62.5%;
}

/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/work-sans-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/work-sans-v19-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/work-sans-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GENERAL CODE */
body {
  min-height: 100vh;
  background: url(assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-origin: border-box;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
  /*  display: flex;
  align-items: center;*/
}
.card {
  width: min(calc(100% - 24px), 600px);
  background-color: hsl(0, 0%, 100%);
  margin: 8rem auto;
  padding: 2.4rem;
  border-radius: 10px;
}
@media screen and (min-width: 375px) {
  .card {
    width: min(calc(100% - 48px), 600px);
  }
}

/* UTILITY CLASSES CODE */
/*.unhide-ans {
  display: none;
}*/
.mb-28 {
  margin-bottom: 2.8rem;
}
.mb-22 {
  margin-bottom: 2.2rem;
}
.hidden {
  display: none;
}

/* FAQs HEADER CODE */
.faqs-header {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.faqs-heading {
  color: hsl(292, 42%, 14%);
  font-size: 5.6rem;
  font-weight: 700;
}
/* FAQs QUESTION CODE */
.faqs-ques-pl-minus {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  justify-content: space-between;
}
.faqs-ques {
  font-size: 1.6rem;
  font-weight: 600;
}
.faqs-ques a:any-link {
  text-decoration: none;
  color: hsl(292, 42%, 14%);
  transition: all 0.3s ease-in-out;
}
.faqs-ques a:hover,
.faqs-ques a:focus {
  color: hsl(281, 83%, 54%);
  outline: none;
}
/* PLUS MINUS ICON */
main img {
  max-width: 26px;
}

/* FAQs ANSWERS CODE */
.faqs-ans {
  color: hsl(292, 16%, 49%);
  font-size: 1.6rem;
  font-weight: 400;
}

/* LINE CSS CODE */
.line {
  height: 2px;
  background-color: hsl(275, 100%, 97%);
}

@media screen and (min-width: 775px) {
  body {
    background-image: url(assets/images/background-pattern-desktop.svg);
  }
}
